@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.add {
    display: none;
    position: relative;
    margin: 15px 20px 0 0;
    padding: 15px 0 0 15px;
    width: 315px;
    height: 100px;
    border-radius: 20px;
    background-color: #2B1055;

    @include on-tablet {
        display: block;
    }

    &__text {
        display: inline;
        font-size: 24px;
        font-weight: bold;
        color: $base-light-color;
    }

    &__spaceship {
        position: absolute;
        top: 24px;
        left: -30px;
    }

    &__planet {
        position: absolute;
        top: 25px;
        right: -18px;
    }
}