$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$content-max-width: 1260px;

// Base styles
$base-font: "Outfit", sans-serif;
$base-title-size: 24px;
$base-dark-color: #4F200D;
$base-light-color: #FFE6E1;
$dark-brown: #4B2526;
$base-transition-time: 300ms;
$bounce-easing-curve: cubic-bezier(0.68, -0.55, 0.27, 1.35);
$default-ease-timing: ease;


// Ribbons
$number-of-ribbons: 5;
$ribbons-base-delay: 300ms;